


.card-cont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card-item-1 {
    grid-area: 2 / 2 / 3 / 4;
}

.card-item-2 {
    grid-area: 4 / 2 / 5 / 4; 
}

.card-item-3 {
    grid-area: 5 / 5 / 6 / 6; 
}